dist
dist-newstyle/**
cabal-dev
profiling
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.prof.html
*.profiterole.html
*.profiterole.txt
*.aux
*.hp
*.svg
.stack-work
stack.yaml.lock
sessions.sqlite3
github
**/todo.txt
*.session
.idea
.ideaHaskellLib
out
.profiling
*.iml
node_modules
client_session_key.aes
**/*_flymake.hs*
TAGS
output.file
report.html
